<h1 id="tableLabel">Services</h1>

<p *ngIf="!services"><em>Loading...</em></p>

<div style="margin-bottom: 10px">
    <button mat-raised-button
            matTooltip="Add new service"
            (click)="addServiceAsync()"
            color="accent">
        <mat-icon>post_add</mat-icon>
    </button>
    <button mat-raised-button
            matTooltip="Edit chosen service"
            (click)="editServiceAsync(chosenId)"
            [disabled]="!chosenId">
        <mat-icon>settings</mat-icon>
    </button>
    <button mat-raised-button
            matTooltip="Delete chosen service"
            (click)="deleteServiceAsync(chosenId)"
            [disabled]="!chosenId">
        <mat-icon>delete</mat-icon>
    </button>
    <button mat-raised-button
            matTooltip="Refresh"
            (click)="updateServicesAsync()"
            color="primary">
        <mat-icon>refresh</mat-icon>
    </button>
</div>

<table mat-table [dataSource]="services" class="mat-elevation-z8" *ngIf="services">
    <!--Service Id-->
    <ng-container matColumnDef="service-id">
        <th mat-header-cell *matHeaderCellDef>Id</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>

    <!--Service Name-->
    <ng-container matColumnDef="service-name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row (click)="onRowClicked(row.id)"
        [class.row-is-selected]="isRowSelected(row.id)"
        *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
