<div style="margin-bottom: 10px">
    <button mat-raised-button
            matTooltip="Add new subscribe"
            (click)="addSubscribeAsync()"
            color="accent">
        <mat-icon>person_add</mat-icon>
    </button>
    <button mat-raised-button
            matTooltip="Edit chosen subscribe"
            (click)="editSubscribeAsync(currentSubscribeId)"
            [disabled]="!currentSubscribeId">
        <mat-icon>settings</mat-icon>
    </button>
    <button mat-raised-button
            matTooltip="Delete chosen subscribe"
            (click)="deleteSubscribeAsync(currentSubscribeId)"
            [disabled]="!currentSubscribeId">
        <mat-icon>delete</mat-icon>
    </button>
    <button mat-raised-button
            matTooltip="Refresh"
            (click)="updateSubscribesAsync()"
            color="primary">
        <mat-icon>refresh</mat-icon>
    </button>
</div>

<table mat-table [dataSource]="subscribes" *ngIf="subscribes">
    <!--Service Name Column-->
    <ng-container matColumnDef="sub-service-name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">{{ element.serviceId }}</td>
    </ng-container>

    <!--Tariff Column-->
    <ng-container matColumnDef="sub-tariff">
        <th mat-header-cell *matHeaderCellDef>Tariff</th>
        <td mat-cell *matCellDef="let element">{{ element.tariff }}</td>
    </ng-container>

    <!--Start Date Column-->
    <ng-container matColumnDef="sub-start-date">
        <th mat-header-cell *matHeaderCellDef>Start Date</th>
        <td mat-cell *matCellDef="let element">{{ element.startDate | date:"dd.MM.yyyy" }}</td>
    </ng-container>

    <!--End Date Column-->
    <ng-container matColumnDef="sub-end-date">
        <th mat-header-cell *matHeaderCellDef>End Date</th>
        <td mat-cell *matCellDef="let element">{{ element.endDate | date:"dd.MM.yyyy" }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns" sticky></tr>
    <tr mat-row (click)="onRowClicked(row.id)"
        [class.row-is-selected]="isRowSelected(row.id)"
        *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
