<h1 id="tableLabel">Customers Table</h1>

<p *ngIf="!customers?.length"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="customers.length">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th><input type="button" name="add-customer" value="Add new customer"/></th> 
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let customer of customers">
      <td>{{ customer.id }}</td>
      <td>{{ customer.name }}</td>
      <td><input type="button" name="delete-customer" value="-"/></td>
    </tr>
  </tbody>
</table>
