<h1 id="tableLabel">Customers Table</h1>

<p *ngIf="!customers"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="customers">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>
          <input type="button" value="Add new customer" (click)="goTo('form-add-customer')"/>
          <input type="button" value="Refresh" (click)="updateCustomersAsync()"/>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let customer of customers">
      <td>{{ customer.id }}</td>
      <td>{{ customer.name }}</td>
      <td><input type="button" value="-" (click)="deleteCustomerAsync(customer.id)"/></td>
    </tr>
  </tbody>
</table>
