<h1 id="tableLabel">Customers</h1>

<div style="margin-bottom: 10px">
    <button mat-raised-button
            matTooltip="Add new customer"
            (click)="addCustomerAsync()"
            color="accent">
        <mat-icon>person_add</mat-icon>
    </button>
    <button mat-raised-button
            matTooltip="Edit chosen customer"
            (click)="editCustomerAsync(chosenId)"
            [disabled]="!chosenId">
        <mat-icon>manage_accounts</mat-icon>
    </button>
    <button mat-raised-button
            matTooltip="Delete chosen customer"
            (click)="deleteCustomerAsync(chosenId)"
            [disabled]="!chosenId">
        <mat-icon>person_remove</mat-icon>
    </button>
    <button mat-raised-button
            matTooltip="Refresh"
            (click)="updateCustomersAsync()"
            color="primary">
        <mat-icon>refresh</mat-icon>
    </button>
</div>

<p *ngIf="!customers"><em>Loading...</em></p>

<table mat-table [dataSource]="customers" class="mat-elevation-z8" *ngIf="customers">
    <!--Id Column-->
    <ng-container matColumnDef="customer-id">
        <th mat-header-cell *matHeaderCellDef>Id</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>

    <!--Name Column-->
    <ng-container matColumnDef="customer-name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns" sticky></tr>
    <tr
        mat-row (click)="onRowClicked(row.id)"
        [class.row-is-selected]="isRowSelected(row.id)"
        *matRowDef="let row; columns: displayedColumns;">
    </tr>
</table>
