<h1 id="tableLabel">Customers Table</h1>

<p *ngIf="!customers"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="customers">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>
        <button mat-raised-button (click)="addCustomerAsync()"><i class="fa-solid fa-user"></i> Add new customer</button>
        <button mat-raised-button (click)="updateCustomersAsync()"><i class="fa-solid fa-rotate-right"></i> Refresh</button>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let customer of customers">
      <td>{{ customer.id }}</td>
      <td>{{ customer.name }}</td>
      <td><button mat-mini-fab (click)="deleteCustomerAsync(customer.id)"><i class="fa-solid fa-minus"></i></button></td>
      <td><button mat-stroked-button (click)="editCustomerAsync(customer.id)"><i class="fa-solid fa-pen"></i> Edit customer</button></td>
    </tr>
  </tbody>
</table>
